
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }

  50% {
      transform: translate(0, 18px);
  }

  100% {
      transform: translate(0, -0px);
  }
}

.float {
animation-name: floating;
animation-duration: 4s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

h2{
    color: #073e3e;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Archivo, sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}


.App{
  background-color: rgb(246, 246, 246)
}

/*NAVBAR*/

#navbar{
    background-color: transparent;
    z-index: 3;
    background: white;
    opacity: 0.9;
    padding: 1em 4em;
    width: 100%;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    flex-direction: row;
    align-items: center;
    display: flex;
    position: fixed;
}

#navbar a{
  text-decoration: none;
}

#leftNavbar{
  display: flex;
  align-items: center;
}


#rightNavbar ul  {
display: flex;
margin-right: 70;
}

#rightNavbar ul  li{
    margin-right: 60px;
  list-style: none;
  color: #0cb3d6;
  font-family: Archivo, sans-serif;
  font-size: 1em;
  }

#rightNavbar ul  li:hover{
  transform:translate(0, -3px);
}

#rightNavbar{
  display: flex;
  align-items: center;
}

#logo{
  margin-left: 70px;
  height: 50px;
}

/*SPLASHSCREEN*/

.splashscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/Splashscreen.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}



.splashImage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  left: 450px;
}


.initialText{
 /* YA EN SPLASH IMAGE PARA EL BOTON TAMBN
  position: absolute;
  top: 400px;
  left: 100px; */
  color: rgb(82, 82, 82);
  font-family: Archivo, sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 60px;
}


/* .splashscreen :hover #texto-animado span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  animation: aparecer 1s forwards;
} */


/* .splashscreen :hover #texto-animado span:nth-child(1) { animation-delay: 0.1s; }
.splashscreen :hover #texto-animado span:nth-child(2) { animation-delay: 0.2s; }
.splashscreen :hover #texto-animado span:nth-child(3) { animation-delay: 0.3s; }
.splashscreen :hover #texto-animado span:nth-child(4) { animation-delay: 0.4s; }
.splashscreen :hover #texto-animado span:nth-child(5) { animation-delay: 0.5s; }
.splashscreen :hover #texto-animado span:nth-child(6) { animation-delay: 0.6s; }
.splashscreen :hover #texto-animado span:nth-child(7) { animation-delay: 0.7s; }
.splashscreen :hover #texto-animado span:nth-child(8) { animation-delay: 0.8s; }
.splashscreen :hover #texto-animado span:nth-child(9) { animation-delay: 0.9s; }
.splashscreen :hover #texto-animado span:nth-child(10) { animation-delay: 1s; }
.splashscreen :hover #texto-animado span:nth-child(11) { animation-delay: 1.1s; }
.splashscreen :hover #texto-animado span:nth-child(12) { animation-delay: 1.2s; }
.splashscreen :hover #texto-animado span:nth-child(13) { animation-delay: 1.3s; }
.splashscreen :hover #texto-animado span:nth-child(14) { animation-delay: 1.4s; }
.splashscreen :hover #texto-animado span:nth-child(15) { animation-delay: 1.5s; }
.splashscreen :hover #texto-animado span:nth-child(16) { animation-delay: 1.6s; }
.splashscreen :hover #texto-animado span:nth-child(17) { animation-delay: 1.7s; }
.splashscreen :hover #texto-animado span:nth-child(18) { animation-delay: 1.8s; }
.splashscreen :hover #texto-animado span:nth-child(19) { animation-delay: 1.9s; }
.splashscreen :hover #texto-animado span:nth-child(20) { animation-delay: 2s; }
.splashscreen :hover #texto-animado span:nth-child(21) { animation-delay: 2.1s; }
.splashscreen :hover #texto-animado span:nth-child(22) { animation-delay: 2.2s; }
.splashscreen :hover #texto-animado span:nth-child(23) { animation-delay: 2.3s; }
.splashscreen :hover #texto-animado span:nth-child(24) { animation-delay: 2.4s; }
.splashscreen :hover #texto-animado span:nth-child(25) { animation-delay: 2.5s; }
.splashscreen :hover #texto-animado span:nth-child(26) { animation-delay: 2.6s; }
.splashscreen :hover #texto-animado span:nth-child(27) { animation-delay: 2.7s; }
.splashscreen :hover #texto-animado span:nth-child(28) { animation-delay: 2.8s; }
.splashscreen :hover #texto-animado span:nth-child(29) { animation-delay: 2.9s; }
.splashscreen :hover #texto-animado span:nth-child(30) { animation-delay: 3s; }
.splashscreen :hover #texto-animado span:nth-child(31) { animation-delay: 3.1s; }
.splashscreen :hover #texto-animado span:nth-child(32) { animation-delay: 3.2s; }
.splashscreen :hover #texto-animado span:nth-child(33) { animation-delay: 3.3s; }
.splashscreen :hover #texto-animado span:nth-child(34) { animation-delay: 3.4s; }
.splashscreen :hover #texto-animado span:nth-child(35) { animation-delay: 3.5s; }
.splashscreen :hover #texto-animado span:nth-child(36) { animation-delay: 3.6s; }
.splashscreen :hover #texto-animado span:nth-child(37) { animation-delay: 3.7s; }
.splashscreen :hover #texto-animado span:nth-child(38) { animation-delay: 3.8s; }
.splashscreen :hover #texto-animado span:nth-child(39) { animation-delay: 3.9s; }
.splashscreen :hover #texto-animado span:nth-child(40) { animation-delay: 4s; }
.splashscreen :hover #texto-animado span:nth-child(41) { animation-delay: 4.1s; }
.splashscreen :hover #texto-animado span:nth-child(42) { animation-delay: 4.2s; }
.splashscreen :hover #texto-animado span:nth-child(43) { animation-delay: 4.3s; }
.splashscreen :hover #texto-animado span:nth-child(44) { animation-delay: 4.4s; }
.splashscreen :hover #texto-animado span:nth-child(45) { animation-delay: 4.5s; }
.splashscreen :hover #texto-animado span:nth-child(46) { animation-delay: 4.6s; }
.splashscreen :hover #texto-animado span:nth-child(47) { animation-delay: 4.7s; }
.splashscreen :hover #texto-animado span:nth-child(48) { animation-delay: 4.8s; }
.splashscreen :hover #texto-animado span:nth-child(49) { animation-delay: 4.9s; }
.splashscreen :hover #texto-animado span:nth-child(50) { animation-delay: 5s; }
.splashscreen :hover #texto-animado span:nth-child(51) { animation-delay: 5.1s; }
.splashscreen :hover #texto-animado span:nth-child(52) { animation-delay: 5.2s; }
.splashscreen :hover #texto-animado span:nth-child(53) { animation-delay: 5.3s; }
.splashscreen :hover #texto-animado span:nth-child(54) { animation-delay: 5.4s; }
.splashscreen :hover #texto-animado span:nth-child(55) { animation-delay: 5.5s; }
.splashscreen :hover #texto-animado span:nth-child(56) { animation-delay: 5.6s; }
.splashscreen :hover #texto-animado span:nth-child(57) { animation-delay: 5.7s; }
.splashscreen :hover #texto-animado span:nth-child(58) { animation-delay: 5.8s; }
.splashscreen :hover #texto-animado span:nth-child(59) { animation-delay: 5.9s; }
.splashscreen :hover #texto-animado span:nth-child(60) { animation-delay: 6s; } */

#initialButton{
  background-color: transparent;
  width: 150px;
  height: 40px;
  border: solid #0cb3d6;;
  border-radius: 1px;
  
}

#initialButton a {
  text-decoration: none;
  color:#0cb3d6;;
}

a :visited {
  color: #073e3e;
}


/*PRODUCTOS*/

.border{
  width: 100%;
  height: 8px;
  background-color: #0cb3d6;;
}

/*emap*/

.emap{
  height: 140vh;
  position: relative;
}

.recuadroEmap{
  background-color: white;
  height: 600px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 2;
 
}


.seccion1Emap{
display: flex;
align-items: baseline;
height: 150px;
justify-content: center;
}

.tituloEmap h3{
  opacity: 0.2;
  font-family: Archivo, sans-serif;
  color: #0cb3d6;;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloEmap h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloEmap p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
}

.caracteristicasEmap{
  color: #073e3e;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicasEmap li{
  margin-top: 20px;
  list-style-type: circle;
}

.fotoEmap img{
  width: 700px;
  border-radius: 2em;
  z-index: 1;
}

.fotoEmap{
  position: absolute;
  left: 500px;
  top: 100px;
}



/*emme*/

/* PRENDER PARA LOS EFECTOS EN EMME TEXTO
.emme :hover #texto-animado span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  animation: aparecer 1s forwards;
}

.emme :hover #texto-animado span:nth-child(1) { animation-delay: 0.5s; }
.emme :hover #texto-animado span:nth-child(2) { animation-delay: 1s; }
.emme :hover #texto-animado span:nth-child(3) { animation-delay: 1.5s; }
.emme :hover #texto-animado span:nth-child(4) { animation-delay: 2s; }
*/
@keyframes aparecer {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.emme{
  height: 140vh;
}

.recuadroEmme{
  background-color: white;
  height: 600px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 200px;
  left: 100px;
  z-index: 2;
 
}


.seccion1Emme{
display: flex;
align-items: baseline;
height: 150px;
justify-content: center;

}


.tituloEmme h3{
  opacity: 0.2;
  font-family: Archivo, sans-serif;
  color: #0cb3d6;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloEmme h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloEmme p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
}

.caracteristicasEmme{
  color: #073e3e;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicasEmme li{
  margin-top: 20px;
  list-style-type: circle;
}

.fotoEmme img{
  width: 700px;
  border-radius: 2em;
  z-index: 1;
}

.fotoEmme{
  position: absolute;
  left: 500px;
  top: 1500px;

}





/*emqa*/


.emqa{
  height: 150vh;
  position: relative
}

.recuadroEmqa{
  background-color: white;
  height: 600px;
  width: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 2;
}

.seccion1Emqa{
display: flex;
align-items: baseline;
height: 150px;
justify-content: center;
}

.tituloEmqa h3{
  opacity: 0.2;
  font-family: Archivo, sans-serif;
  color: #0cb3d6;;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloEmqa h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloEmqa p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
}

.caracteristicasEmqa{
  color: #073e3e;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicasEmqa li{
  margin-top: 20px;
  list-style-type: circle;
}


.fotoEmqa img{
  width: 700px;
  border-radius: 2em;
  z-index: 1;
}

.fotoEmqa{
  position: absolute;
  left: 500px;
  top: 100px;
}

/*SIMMA*/



.simma{
  height: 150vh;
  position: relative
}

.recuadroSimma{
  background-color: white;
  height: 600px;
  width: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 2;
}

.seccion1Simma{
display: flex;
align-items: baseline;
height: 150px;
justify-content: center;
}

.tituloSimma h3{
  opacity: 0.2;
  font-family: Archivo, sans-serif;
  color: #0cb3d6;;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloSimma h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloSimma p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
}

.caracteristicasSimma{
  color: #073e3e;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicassimma li{
  margin-top: 20px;
  list-style-type: circle;
}


.fotoSimma img{
  width: 700px;
  border-radius: 2em;
  z-index: 1;
}

.fotoSimma img{
 width: 300px;
 display: flex;
 flex-direction: column;

}


#simmaAguas{
  position: absolute;
  left: 900px;
  top: 200px;
}
#simmaEstabilidad {
  position: absolute;
  left: 825px;
  top:  425px;
}
#simmaMateriales{
  position: absolute;
  left: 900px;
  top: 650px;
}


/* SERVICIOS */

.servicios{
  height: 100vh;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px ;
}

.serviciosGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 30px;
  margin: 50px 40px;
  justify-items: center;
}


.textoServicios{
  color: #073e3e;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Archivo, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.servicios p {
  color: #073e3e;
  margin: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
  padding: 0px 20px;
}

/* .containerServicios:hover {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
} */

.servicios img{
  width: 100px;
  opacity: 0.6;
}


.containerServicios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  margin:10px 20px;
  height: 100%;
  width: 70%;
}

/* CLIENTES */

#clientes {
  height: 70vh;
  width: auto;
  max-width: none;
  flex-direction: row;
  align-items: center;
  margin-left: 6%;
  margin-right: 0%;
  display: flex;
  transform: translate3d() scale3d() rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
  transform-style: preserve-3d; 
  will-change: transform;
  overflow: hidden;  
  white-space: nowrap;
}
.clientes{
  background-color: white;
}

.containerClientes{
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: scroll 40s linear infinite;
  
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.containerClientes img {
  width: 220px;
}

.client{
  margin: 0 30px;
}


/*NOSOTROS*/

.nosotros {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.cuadroNosotros {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%; 
  height: 500px;
  border-radius: 20px; 
  background-color: rgb(246, 246, 246)
}

.imagenNosotros img {
 width: 100%; 
 height: 500px;
 border-radius: 20px;
}

.textoNosotros {
  text-align: center;
}

.textoNosotros h2 {

  color: #073e3e;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Archivo, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
}

.textoNosotros p {

  color: #073e3e;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin: 20px;
  font-family: Archivo, sans-serif;
  font-size: small;
  line-height: 1.7em;
}


.nosotros:hover .textoNosotros p {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Inicialmente oculto */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Aparece al desplazar */
  }
}



/* CONTACTO */

#contacto{
  height: 100vh;
}

.contacto{
  text-align: center;
  
}

#contacto{
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contenido{
  margin: 30px 25% 80px 25%;
  position: relative;
}

.contact-form {	position: relative;
    border-bottom: solid 1px darkgrey;
    text-align: left;
    font-size: 14pt;
    margin: 60px auto;
    width: 500px;
    color: #0cb3d6;
    font-size: 12pt;
}

.material-input {
margin-bottom: 25px !important; 
}

.material input:focus, .material textarea:focus{
  background-color: white;
  outline: none;
  border-bottom:  2px solid #0cb3d6 ;
  text-align:start;
  color: gray;
  font-family: sans-serif;
}

.material input, .material textarea {
  font-size: 16px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d3d3d3;
  outline: 0;
  background: 0;
  float: left;
  position: relative;
  padding-top: 18px;
  background: #fff;
  font-family: sans-serif;
}


input {
  width: 200px; 
  padding: 10px;
}

textarea{
  width: 200px; 
  padding: 10px;
}


::placeholder {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  color: #999; 
  transition: 0.3s; 
}

input:focus::placeholder {
  font-size: 12px; 
  top: 0; 
  transform: translateY(0); 
  color: #999; 
}

textarea:focus::placeholder {
  font-size: 12px; 
  top: 0; 
  transform: translateY(0); 
  color: #999; 
} 


.material input {
  height: 32px;
  margin-bottom: 25px;
}

.material textarea {
  height: 100px;
  margin-bottom: 10px;
}

.material button{
  background-color:#49bdd4 ;
  border: none;
  color: white;
  width: 120px;
  height: 35px;
  font-size: medium;
  margin: 10px;
}

.material button:hover{
  background-color:white;
  border: solid thin #49bdd4 ;
  color: #49bdd4 ;
}


/* FOOTER */

.footer{
  background-color: white;
}

#linkedinLogo {
  position: relative;
  width: 40px;
  opacity: 0.3;
  padding: 10px;
  z-index: 300;
}

#googleLogo {
  position: relative;
  width: 40px;
  opacity: 0.3;
  padding: 10px;
  z-index: 300;
}

#googleLogo:hover {
  opacity: 0.4;
}

#linkedinLogo:hover {
  opacity: 0.4;
}

.footer p{
  color:#9a9a9a;
  font-weight:100 ;
  text-align: center;
}

.footerSocial{
  text-align: center;
}


