
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes floating {
  0% {
      transform: translate(0, 0px);
  }

  50% {
      transform: translate(0, 18px);
  }

  100% {
      transform: translate(0, -0px);
  }
}

.float {
animation-name: floating;
animation-duration: 4s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

h2{
    color: #073e3e;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Archivo, sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}



/*NAVBAR*/

#navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position:fixed

}

#navbar a{
  text-decoration: none;
}


#rightNavbar ul  {
display: flex;
margin-right: 100px;
}

#rightNavbar ul  li{
    margin-right: 80px;
  list-style: none;
  color: #0cb3d6;
  }

#logo{
  height: 100px;
}

/*SPLASHSCREEN*/



.splashscreen {
  background-image: url(./images/Simma\ Productos.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;    
  display: flex;
  opacity: 0.4;
}


#initialText{
  position: absolute;
  top: 200px;
  left: 20px;
}

#buttonSplashscreen1{
  width: 60px;
  height: 60px;
  background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: absolute;
  left: 650px;
  top: 200px;
}

#buttonSplashscreen2{
  width: 60px;
  height: 60px;
  background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: absolute;
  left: 800px;
  top: 350px;
}

#buttonSplashscreen3{
  width: 60px;
  height: 60px;
  background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: absolute;
  left: 950px;
  top: 200px;
}

#buttonSplashscreen4{
  width: 60px;
  height: 60px;
  background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: absolute;
  left: 1100px;
  top: 350px;
}

/*PRODUCTOS*/

/*emap*/

.emap{
  height: 120vh;
  background-color: rgb(246, 246, 246);

}

.seccion1Emap{
display: flex;
align-items: baseline;
height: 150px;
}

.tituloEmap h3{
  opacity: 0.1;
  font-family: Archivo, sans-serif;
  color: #073e3e;
  margin-left: 80px;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloEmap h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloEmap p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  margin-left: 80px;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
}

.caracteristicasEmap{
  color: #073e3e;
  margin-left: 80px;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicasEmap p{
  margin-top: 20px;
}

.gridEmap{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fotoEmap img{
  width: 55%;
  border-radius: 2em;
}

.fotoEmap{
  position: relative;
}

#emap1{
  position: absolute;
  top: 50%;
}

#emap2{
  position: absolute;
  left: 40%;
}


/*emme*/

.emme :hover #texto-animado span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  animation: aparecer 1s forwards;
}

@keyframes aparecer {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.emme :hover #texto-animado span:nth-child(1) { animation-delay: 0.5s; }
.emme :hover #texto-animado span:nth-child(2) { animation-delay: 1s; }
.emme :hover #texto-animado span:nth-child(3) { animation-delay: 1.5s; }
.emme :hover #texto-animado span:nth-child(4) { animation-delay: 2s; }

.emme{
  height: 120vh;
  margin: 0px 10px;
}

.emme :hover .caracteristicasEmme p{
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}



.seccion1Emme{
display: flex;
align-items: baseline;
height: 150px;
/* justify-content: right; */
margin-right: 100px;

}


.tituloEmme h3{
  opacity: 0.1;
  font-family: Archivo, sans-serif;
  color: #073e3e;
  margin-left: 80px;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloEmme h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloEmme p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
  justify-content: right;
}

.caracteristicasEmme{
  color: #073e3e;
  margin-left: 20px;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicasEmme p{
  margin-top: 20px;
}

.gridEmme{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fotoEmme img{
  width: 80%;
  border-radius: 2em;
}

.fotoEmme{
  position: relative;
}

#emme{
  position: absolute;
  top: 20%;
  left: 10%;
}

/*emqa*/


.emqa{
  height: 120vh;
  background-color: rgb(246, 246, 246);

}

.seccion1Emqa{
display: flex;
align-items: baseline;
height: 150px;
}

.tituloEmqa h3{
  opacity: 0.1;
  font-family: Archivo, sans-serif;
  color: #073e3e;
  margin-left: 80px;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;

}

.tituloEmqa h2{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  font-size: 4em;
  letter-spacing: 10px;
  margin-left: 30px;
}

.tituloEmqa p{
  font-family: Archivo, sans-serif;
  color: #073e3e;
  margin-left: 80px;
  font-family: Archivo, sans-serif;
  font-size: 1.4em;
  align-items: baseline;
}

.caracteristicasEmqa{
  color: #073e3e;
  margin-left: 80px;
  margin-top: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
}

.caracteristicasEmqa p{
  margin-top: 20px;
}

.gridEmqa{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fotoEmqa img{
  width: 55%;
  border-radius: 2em;
}

.fotoEmqa{
  position: relative;
}

#emqa1{
  position: absolute;
  top: 50%;
}

#emqa2{
  position: absolute;
  left: 40%;
}




/* SERVICIOS */

.servicios{
  height: 100vh;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px ;
}

.serviciosGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 30px;
  margin: 50px 40px;
  justify-items: center;
}

.textoServicios{
  color: #073e3e;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Archivo, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.servicios p {
  color: #073e3e;
  margin: 20px;
  font-family: Archivo, sans-serif;
  font-size: 1em;
  padding: 0px 20px;
}

/* .containerServicios:hover {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
} */

.servicios img{
  width: 100px;
  opacity: 0.6;
}


.containerServicios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  margin:10px 20px;
  height: 100%;
  width: 70%;
}

/* CLIENTES */

#clientes {
  height: 70vh;
  width: auto;
  max-width: none;
  flex-direction: row;
  align-items: center;
  margin-left: 6%;
  margin-right: 0%;
  display: flex;
  transform: translate3d() scale3d() rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
  transform-style: preserve-3d; 
  will-change: transform;
  overflow: hidden;  
  white-space: nowrap;
}
.clientes{
  margin-top: 40px;
}

.containerClientes{
  display: flex;
  flex-direction: row;
  align-items: center;

  animation: scroll 40s linear infinite;
  
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.containerClientes img {
  width: 220px;
}

.client{
  margin: 0 30px;
}


/*NOSOTROS*/

.nosotros {
  height: 100vh;
  background-color: rgb(233, 233, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 10px;
}


.cuadroNosotros {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%; 
  height: 500px;
  background-color: white;
  border-radius: 20px; 
}

.imagenNosotros img {
 width: 100%; 
 height: 500px;
 border-radius: 20px;
}

.textoNosotros {
  text-align: center;
}

.textoNosotros h2 {

  color: #073e3e;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Archivo, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2;
}

.textoNosotros p {

  color: #073e3e;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin: 20px;
  font-family: Archivo, sans-serif;
  font-size: small;
  line-height: 1.7em;
}


.nosotros:hover .textoNosotros p {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Inicialmente oculto */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Aparece al desplazar */
  }
}



/* CONTACTO */

#contacto{
  height: 100vh;
}

.contacto{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input{
  margin: 10px 0px;
  width: 500px;
  height: 30px;
  border-bottom: solid 1px darkgrey;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 12pt;
}
.form textarea{
  margin: 10px 0px;
  width: 500px;
  height: 90px;
  border-bottom: solid 1px darkgrey;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 12pt;
}



/* FOOTER */

#linkedinLogo {
  position: relative;
  width: 40px;
  opacity: 0.3;
  padding: 10px;
  z-index: 300;
}

#googleLogo {
  position: relative;
  width: 40px;
  opacity: 0.3;
  padding: 10px;
  z-index: 300;
}

#googleLogo:hover {
  opacity: 0.4;
}

#linkedinLogo:hover {
  opacity: 0.4;
}

.footer p{
  color:#9a9a9a;
  font-weight:100 ;
  text-align: center;
}

.footerSocial{
  text-align: center;
}


