@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Instrument+Sans&family=Montserrat:wght@300&family=Open+Sans&family=Poiret+One&family=Raleway:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;1,300;1,500&family=Urbanist:ital,wght@0,200;1,500&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Instrument+Sans&family=Montserrat:wght@300&family=Open+Sans&family=Poiret+One&family=Raleway:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;1,300;1,500&family=Urbanist:ital,wght@0,200;1,500&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Instrument+Sans&family=Montserrat&family=Open+Sans&family=Poiret+One&family=Raleway:wght@200&family=Roboto:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital,wght@0,300;1,300;1,500&family=Urbanist:ital,wght@0,200;1,500&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.puntos{
  font-size: 1vw;
}

h2{
    color: #7F5A8B;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
}


.App{
  background-color: white;
}

/*NAVBAR*/

#navbar{
    opacity: 0.9;
    width: 100%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

.navbar.scrolled{
  z-index: 3;
  background-image: url(./images/navbar.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
}

#navbar a{
  text-decoration: none;
}

#navbar ul  {
display: flex;
justify-content: center;
padding-left: 0;
}

#navbar ul  li{
  margin-right: 30px;
  list-style: none;
  color: #7F5A8B;
  font-size: 1.3vw;
  font-weight: 5;
  }

  #navbar ul  li:hover{
  transform:translate(0, -3px);
}


/*SPLASHSCREEN*/

.splashscreen {
  height: 100vh;
  flex-direction: column;
  background-image: url(./images/fondo\ banner\ inicio.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 70%;
  height: auto;
  position: relative;
  top: 70%;
}

.splashImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


/* .initialText{
  color: rgb(82, 82, 82);
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 60px;
} */


/* SPLASHSCREEN 2 */

#splashscreen2{
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splashscreen2 p{
color:#0cb3d6;
font-weight: 700;
font-size: 1.3vw;
font-family: 'Roboto', sans-serif;
margin: 0px;
}

/*PRODUCTOS*/

.gridProductos{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 5%;
  margin-right: 5%;
  row-gap: 3%;
  margin-bottom: 10%;
}

.pedirDEMO{
    background-image: url(./images/contactodegrade.jpg);
    border: none;
    border-radius: 20px;
    color: #878787;
    width: 40%;
    font-size: 1.6vw;
    font-family: "Montserrat";
    margin-top: 8%;
}

#pedirDEMODerecha{
  position: relative;
    left: 35%;
}

#pedirDEMOIzquierda{
  position: relative;
    left: 22%;
    top:80%
}

.pedirDEMO a:hover{
  color:white
}

.pedirDEMO a{
  text-decoration: none;
  color: #878787;
}

#pedirDEMOemme{
  position: relative;
  left: 70%;
  top: 80%;
}


#logoSIMMA, #logoEMQA, #logoEMAP{
  width: 35%;
  height: auto;
}

#logoEMME{
  width: 60%;
  height: auto;
}

.botonesRecuadro{
  display: flex;
  justify-content: center;
  position: sticky;
}

.botonesRecuadro button{
  border: none;
  background: none;
}

.simma, .emme, .emqa, .emap{
  display: flex;
  align-items: center;
  position: relative;
}

.emme, .emap{
  flex-direction: row-reverse;
}

.fotoSimma img, .fotoEmme img, .fotoEmqa img, .fotoEmap img{
  height: auto;
  width: 100%;
  border-radius: 2em;
  border: 25px solid;
  border-color: white;
}

.recuadroSimma, .recuadroEmme, .recuadroEmqa, .recuadroEmap{
  background-image: url(./images/degradeProducto.jpg);
  background-position: center;
  background-size: 100% 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 60%;
  height: 60vh;
  align-items: center;
  padding: 5% 1%;
  justify-content: center;
  position: relative;
}

.fotoSimma , .fotoEmme , .fotoEmqa , .fotoEmap {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  z-index: 2;
  position: relative;
}

.fotoEmap, .fotoEmme {
  left: 1.5%;
}

.fotoEmqa, .fotoSimma { 
  left: -1.5%;
}

.recuadroEmap, .recuadroEmme {
 left: -1.5%;
}

.recuadroEmqa, .recuadroSimma {
  left: 1.5%;
}

.tituloSimma h2, .tituloEmme h2, .tituloEmqa h2, .tituloEmap h2{
  font-size: 4em;
  font-family: "Montserrat";
}

.tituloSimma p, .tituloEmme p, .tituloEmqa p, .tituloEmap p{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 1.5vw;
  text-align: center;
  padding: 0 7%;
}

.caracteristicasSimma, .caracteristicasEmme, .caracteristicasEmqa, .caracteristicasEmap{
  color: #878787;
  font-family: "Montserrat";
  font-size: 1vw;
  padding: 1% 10% 1% 13%;
}

.caracteristicasSimma ul, .caracteristicasEmme ul, .caracteristicasEmqa ul, .caracteristicasEmap ul{
  padding-left: 0;
}

.caracteristicasSimma li, .caracteristicasEmme li, .caracteristicasEmqa li, .caracteristicasEmap li{
  list-style-type: circle;
  margin-top: 3%;
}

.tituloSimma , .tituloEmme , .tituloEmqa , .tituloEmap {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/*emap*/

/* .emap{
  height: 100vh;
  position: relative;
  background-color: white;
}

.recuadroEmap{
  background-image: url(./images/degradeProducto.jpg);
  background-position: center;
  height: 530px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 5vh;
  left: 20vh;
  z-index: 1;
}


.seccion1Emap{
display: flex;
align-items: baseline;
height: 150px;
justify-content: center;
align-items: center;
}

.recuadroEmap h3{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  border-bottom-right-radius: 20px;


}

.tituloEmap h2{
  font-size: 4em;
  font-family: "Montserrat";
}

.tituloEmap p{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 1.4em;
  align-items: baseline;
  margin-left: 30px;
  margin-bottom: 0px;
}

.caracteristicasEmap{
  color: #878787;
  margin-top: 20px;
  font-family: "Montserrat";
  font-size: 0.8em;
}

.caracteristicasEmap li{
  margin-top: 20px;
  list-style-type: circle;
}

.fotoEmap img{
  width: 500px;
  border-radius: 2em;
  border: 25px solid;
  border-color: white;
}

.fotoEmap{
  position: absolute;
  left: 650px;
  top: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;

} */



/*emqa*/

/* .emqa{
  height: 100vh;
  position: relative;
}

.recuadroEmqa{
  background-image: url(./images/degrade1.jpg);
  background-position: center;
  height: 530px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5vh;
  left: 90vh;
  z-index: 1;
 
}


.seccion1Emqa{
display: flex;
height: 150px;
align-items: center;
justify-content: center;

}


.recuadroEmqa h3{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;
  background-color: white;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding-left: 20px;
}

.tituloEmqa h2{
  font-family: "Montserrat";
  font-size: 4em;
  
}

.tituloEmqa p{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 1.4em;
  align-items: baseline;
  margin-right: 30px;
  margin-bottom: 0px;
  justify-content: end;
  text-align-last: center ;
  
}

.caracteristicasEmqa{
  color: #878787;
  font-family: "Montserrat";
  font-size: 0.8em;
  display: flex;
  justify-content: end;
}

.caracteristicasEmqa li{
  margin-top: 20px;
  list-style-type: circle;
  margin-right: 20px;
}

.fotoEmqa img{
  width: 500px;
  border-radius: 2em;
  border: 25px solid;
  border-color: white;
}

.fotoEmqa{
  position: absolute;
  left: 10vh;
  top: 20vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
} */



/*emme*/


/* .emme{
  height: 100vh;
  position: relative
}

.recuadroEmme{
  background-image: url(./images/degrade1.jpg);
  background-position: center;
  height: 530px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 5vh;
  left: 20vh;
  z-index: 1;
}

.seccion1Emme{
display: flex;
align-items: baseline;
height: 150px;
justify-content: center;
align-items: center;
}



.recuadroEmme h3{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;
  background-color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  border-bottom-right-radius: 20px;


}

.tituloEmme h2{
  font-family: "Montserrat";
  font-size: 4em;
  
}

.tituloEmme p{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 1.4em;
  align-items: baseline;
  margin-left: 30px;
  margin-bottom: 0px;
}

.caracteristicasEmme{
  color: #878787;
  margin-top: 20px;
  font-family: "Montserrat";
  font-size: 0.8em;
}

.caracteristicasEmme li{
  margin-top: 20px;
  list-style-type: circle;
}


.fotoEmme img{
  width: 500px;
  border-radius: 2em;
  border: 25px solid;
  border-color: white;
}

.fotoEmme{
  position: absolute;
  left: 650px;
  top: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/*SIMMA*/



/* .simma{
  height: 100vh;
  position: relative
}

.recuadroSimma{
  background-image: url(./images/degrade1.jpg);
  background-position: center;
  height: 530px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5vh;
  left: 90vh;
  z-index: 1;
}

.seccion1Simma{
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  
}

.tituloSimma h3{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 800;
  background-color: white;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding-left: 20px;

}

.tituloSimma h2{
  font-family: "Montserrat";
  font-size: 4em;
  
}

.tituloSimma p{
  font-family: "Roboto", sans-serif;
  color: #312783;
  font-size: 1.4em;
  align-items: baseline;
  margin-right: 30px;
  margin-bottom: 0px;
  justify-content: end;
  text-align-last: center ;
}

.caracteristicasSimma{
  color: #878787;
  font-family: "Montserrat";
  font-size: 0.8em;
  display: flex;
  justify-content: end;
}

.caracteristicasSimma li{
  margin-top: 20px;
  list-style-type: circle;
  margin-right: 20px;
}



.fotoSimma img{
  width: 500px;
  border-radius: 2em;
  border: 25px solid;
  border-color: white;
  height: 330px;
}

.fotoSimma {
  position: absolute;
  left: 10vh;
  top: 20vh;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
} */


/* SERVICIOS */

.servicios{
  height: 80vh;
  text-align: center;
  /* background-image: url(./images/puntitosServicios.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.serviciosGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 3% 3% 0% 3%;
  justify-items: center;
  height: 40%;
}


.textoServicios{
  text-transform: uppercase;
  line-height: 1.2;
}

.servicios p {
  color:#312783;
  font-family: "Montserrat";
  font-size: 1vw;
  padding: 0 6%;
}

.servicios img{
  width: 30%;
  opacity: 0.6;
}


.containerServicios{
  border-radius: 40px;
  margin:10px 20px;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  border: solid thin lightgray;
  flex-direction: column;
    align-items: center;
}

#containerServicios1{
  background-image: url(./images/BloqueDeServicios.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 10px;
}

#containerServicios2{
  background-image: url(./images/BloqueDeServicios.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

#containerServicios3{
  background-image: url(./images/BloqueDeServicios.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 10px;
}

/* CLIENTES */

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.images-wrapper {
  display: flex;
  animation: scroll 10s linear infinite;
}
.containerClientes img{
  width: 150px;
}
#poen, #richet{
  width: 100px;
}


#clientes {
  height: 30vh;
  width: auto;
  max-width: none;
  flex-direction: row;
  align-items: center;
  margin-left: 6%;
  margin-right: 0%;
  display: flex;
  transform: translate3d() scale3d() rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
  transform-style: preserve-3d; 
  will-change: transform;
  overflow: hidden;  
  white-space: nowrap;
}
.clientes{
  background-color: white;
}

.containerClientes{
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll 40s linear infinite;
}


@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
}

.client{
  margin: 0 30px;
}


/*NOSOTROS*/

.nosotros {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/degradeNosotros.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 50px 0px 70px 0px;
}


.cuadroNosotros {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%; 
  height: 500px;
  border-radius: 20px; 
  align-items: center;
  justify-content: center;
}


.cuadroNosotros button{
  border: none;
  background: transparent;
}

.botonesNostros{
  text-align: end;
}


.textoNosotros {
  text-align: right;
}

.textoNosotros h2 {

  color: gray;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  /* font-size: 2.5em;
  font-weight: 500;
  line-height: 1.2; */
}


.textoNosotros p {

  color: #575756;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin: 20px;
  font-family: "Montserrat";
  line-height: 1.7em;
  text-align: right;
  font-size: 1.2vw;
}

.tituloNosotros{
  position: relative;
  right: 20%;
}


/* .nosotros:hover .textoNosotros p {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
} */

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px); /* Inicialmente oculto */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Aparece al desplazar */
  }
}




/* CONTACTO */


.puntitos{
  height: 40vh;
  background-image: url(./images/fondoContacto.jpg);
  background-size: 100% 60vh;
  background-repeat: no-repeat;
  background-position: top;
}

.contacto{
  text-align: center;
  height: 100%;
  
}

.material{
  background-image: url(./images/contactodegrade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 1% 5%;
  height: 100%;
}

#contacto{
  height: 60vh;
  float: left;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 5vh
}

.contenido{
  margin: 3% 20% 3% 20%;
  position: relative;
}



.material input:focus, .material textarea:focus{
  outline: none;
  border-bottom:  2px solid #0cb3d6 ;
  text-align:start;
  color: #878787;
  font-family: sans-serif;
  padding-top: 17px;
}

.material input, .material textarea {
  font-size: 1.3vw;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d3d3d3;
  outline: 0;
  background: 0;
  float: left;
  position: relative;
  font-family: "Montserrat";
  padding: 1px 2px;
  
}


textarea{
  width: 200px; 
  padding: 10px;
}


::placeholder {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  color: #878787;; 
  transition: 0.3s; 
}

input:focus::placeholder {
  font-size: 0.9vw; 
  top: 0; 
  transform: translateY(0); 
  color: #878787;; 
}

textarea:focus::placeholder {
  font-size: 0.9vw; 
  top: 0; 
  transform: translateY(0); 
  color: #878787;
} 


.material input {
  height: 5vw;
  margin-bottom: 1%;
}

.material textarea {
  height: 100px;
  margin-bottom: 10px;
}

.material button{
  background-image: url(./images/contactodegrade.jpg);
  border: none;
  border-radius: 20px;
  color: #878787;
  width: 20%;
  font-size: 1.1vw;
  margin: 2% 1% 0% 1%;
  font-family: "Montserrat";
}

.material button:hover{
  color: white ;
  cursor: pointer;
}

.mensajeEnviado{
  color: #312783;
  font-weight: 100;
}


/* FOOTER */

.footer{
  background-color: white;
}

#linkedinLogo {
  position: relative;
  width: 2%;
  opacity: 0.3;
  padding: 1%;
  z-index: 300;
}

#googleLogo {
  position: relative;
  width: 40px;
  opacity: 0.3;
  padding: 10px;
  z-index: 300;
}

#googleLogo:hover {
  opacity: 0.4;
}

#linkedinLogo:hover {
  opacity: 0.4;
}

.footer p{
  color:#9a9a9a;
  font-weight:100 ;
  text-align: center;
  font-size: 0.8vw;
}

.footerSocial{
  text-align: center;
}



/*RSPONSIVE*/

@media only screen and (min-width: 2200px)  {
  .material {
    background-size: cover;
  }
  #navbar ul  li{
    margin-right: 50px;}
    
}

@media only screen and (min-width: 3150px)  {
  #contacto {
    margin-bottom: 6%;
  }

  #navbar ul  li{
    margin-right: 60px;}
  
}

@media screen and (min-width: 1650px) and (max-height: 1000px) {
  #contacto {
    margin-bottom: 7%;
  }
}


@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  
  /*SPLASHSCREEN*/

  #logo {
    width: 40%;
  }

  /*PRODUCTOS*/

  .recuadroEmap, .recuadroEmme, .recuadroEmqa, .recuadroSimma {
    height: 50vh;
  }

  .tituloEmap p, .tituloEmme p, .tituloEmqa p, .tituloSimma p {
    padding: 0 10%;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /*SPLASHSCREEN*/

  #logo {
    width: 40%;
  }

  /*PRODUCTOS*/

  .fotoSimma img, .fotoEmme img, .fotoEmqa img, .fotoEmap img {
    width: 80%;
  }

  #logoSIMMA, #logoEMQA, #logoEMAP {
    width: 35%;
  }

  .tituloSimma p, .tituloEmme p, .tituloEmqa p, .tituloEmap p {
    font-size: 1.6vw;
  }

  .caracteristicasSimma, .caracteristicasEmme, .caracteristicasEmqa, .caracteristicasEmap {
    font-size: 1.1vw;
  }

  .recuadroSimma, .recuadroEmme, .recuadroEmqa, .recuadroEmap {
    height: 70vh;
  }

  .recuadroEmqa, .recuadroSimma {
    left: 3%;
  }

  .recuadroEmap, .recuadroEmme {
    left: -3%
  }

  .fotoEmqa, .fotoSimma {
    left: -3%
  }

  .fotoEmap, .fotoEmme {
    left: 3%
  }

  .pedirDEMO {
    height: 40px;
  }
}

@media only screen and (min-width: 511px) and (max-width: 1300px) {

  /*CONTACTO*/

  #contacto {
    height: 60vh;
    margin-bottom: 40vh;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1300px) and (min-height: 760px) and (max-height: 810px) {
  #contacto {
    height: 60vh;
    margin-bottom: 10vh;
  }
}

@media only screen and (min-width: 511px) and (max-width: 1200px) {

  /*CONTACTO*/

  #contacto {
    height: 60vh;
    margin-bottom: 35vh;
  }

}

/* IPAD PRO */
@media screen and (min-width: 1000px) and (max-width: 1025px) and (min-height: 1200px) and (max-height: 1400px) {

  .nosotros {
    height: 40vh;}

    .containerServicios {
      height: 90%;
  }

  .servicios {
    height: 40vh;
    justify-content: flex-end;

}

.recuadroSimma, .recuadroEmme, .recuadroEmqa, .recuadroEmap {
  height: 40vh;
}

  #contacto {
    height: 40vh;
    margin-bottom: 5vh;
  }

}



@media only screen and (min-width: 511px) and (max-width: 991px) {

  /*SPLASHSCREEN*/

  #logo {
    width: 40%;
  }

  /*PRODUCTOS*/

  .fotoSimma img, .fotoEmme img, .fotoEmqa img, .fotoEmap img {
    width: 80%;
  }

  #logoSIMMA, #logoEMQA, #logoEMAP {
    width: 35%;
  }

  .tituloSimma p, .tituloEmme p, .tituloEmqa p, .tituloEmap p {
    font-size: 1.6vw;
  }

  .caracteristicasSimma, .caracteristicasEmme, .caracteristicasEmqa, .caracteristicasEmap {
    font-size: 1.1vw;
  }

  .recuadroSimma, .recuadroEmme, .recuadroEmqa, .recuadroEmap {
    height: 30vh;
  }

  .recuadroEmqa, .recuadroSimma {
    left: 3%;
  }

  .recuadroEmap, .recuadroEmme {
    left: -3%
  }

  .fotoEmqa, .fotoSimma {
    left: -3%
  }

  .fotoEmap, .fotoEmme {
    left: 3%
  }

  .pedirDEMO {
    height: 30px;
  }

  /*SERVICIOS*/

  .servicios{
    height: 50vh;
  }
  /*NOSOTROS*/

  .nosotros{
    height: 50vh;
  }
  /*CLIENTES*/

  #clientes{
    height: 30vh;
  }
  /*CONTACTO*/

  #contacto {
    height: 60vh;
    margin-bottom: 20vh;
  }
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
  #contacto{
    margin-bottom: 0%;
    height: 50vh;
  }

}
@media only screen and (min-width: 511px) and (max-width: 750px){
  #contacto {
    height: 40vh;
    margin-bottom: 5vh;
  }

}

@media all and (max-width:510px){
  
  h2 {
    font-size: 2.5em;
    margin-right: 5px;
    margin-left: 5px;
  }
    /*NAVBAR*/

  #navbar {
    display: none;
  }

  /*SPLASHSCREEN*/

  #splashscreen2 p {
    color: #0cb3d6;
    font-weight: 700;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

  /*PRODUCTOS*/

  .recuadroSimma, .recuadroEmme, .recuadroEmqa, .recuadroEmap {
    height: 40vh;
    width: 80%;

  }

  .fotoEmap, .fotoEmme, .fotoEmqa, .fotoSimma {
    display: none;
  }

  .simma, .emap, .emme, .emqa {
    justify-content: center;
  }

  .recuadroEmqa, .recuadroSimma, .recuadroEmap, .recuadroEmme{
    left: 0%;
  }

  .caracteristicasSimma, .caracteristicasEmme, .caracteristicasEmqa, .caracteristicasEmap {
    font-size: 2.3vw;
  }

  .tituloSimma p, .tituloEmme p, .tituloEmqa p, .tituloEmap p {
    font-size: 3vw;
  }

  #logoSIMMA, #logoEMQA, #logoEMAP {
    width: 55%;
  }

  .gridProductos{
    margin-bottom: 50%;
  }
  
  /* SERVICIOS */
  
  .serviciosGrid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .servicios{
      height: auto;
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .containerServicios {
    height: 250px;
  }

  .servicios p {
    font-size: 0.8em;
  }

  .servicios img {
    width: 90px;
    height: auto;
  }

  .textoServicios {
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.2;
}

  /* NOSOTROS */
  
  .cuadroNosotros {
    display:block ;
    height: fit-content;
  }
  
  .nosotros{
    margin-top: 80px;
    margin-bottom:70px;
  }
  
  .tituloNosotros{
    position: unset;
  }

  .textoNosotros p {
    font-size: 0.7em;
  }



  /* CLIENTES*/

  #clientes{
    height: 30vh;
  }

  /* CONTACTO   */

  .contenido {
    margin: 25px;}

    .footer {
      margin-right: 10px;
      margin-left: 10px;
  }

  #contacto {
    height: 50vh;
    margin-bottom: 0;
  }

  .material input, .material textarea {
    font-size: 3vw;
   
  }

  input:focus::placeholder {
    font-size: 2vw;  
  }


  textarea:focus::placeholder {
    font-size: 2vw; 
  } 

  .material button{
    font-size: 3vw;
  }

  .material {
    padding: 3% 8%;
  }


  /*FOOTER*/

  .footer p{
    font-size: 2.3vw;
  }


  
}



@media all and (max-width: 400px){
  
  h2 {
    font-size: 2.5em;
    margin-right: 5px;
    margin-left: 5px;
  }
    /*NAVBAR*/

  #navbar {
    display: none;
  }

  /*SPLASHSCREEN*/

  #splashscreen2 p {
    color: #0cb3d6;
    font-weight: 700;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
  }

  /*PRODUCTOS*/

  .recuadroSimma, .recuadroEmme, .recuadroEmqa, .recuadroEmap {
    height: 40vh;
    width: 80%;

  }

  .fotoEmap, .fotoEmme, .fotoEmqa, .fotoSimma {
    display: none;
  }

  .simma, .emap, .emme, .emqa {
    justify-content: center;
  }

  .recuadroEmqa, .recuadroSimma, .recuadroEmap, .recuadroEmme{
    left: 0%;
  }

  .caracteristicasSimma, .caracteristicasEmme, .caracteristicasEmqa, .caracteristicasEmap {
    font-size: 2.3vw;
  }

  .tituloSimma p, .tituloEmme p, .tituloEmqa p, .tituloEmap p {
    font-size: 3vw;
  }

  #logoSIMMA, #logoEMQA, #logoEMAP {
    width: 55%;
  }

  .gridProductos{
    margin-bottom: 50%;
  }
  
  /* SERVICIOS */
  
  .serviciosGrid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .servicios{
      height: auto;
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .containerServicios {
    height: 250px;
  }

  .servicios p {
    font-size: 0.8em;
  }

  .servicios img {
    width: 90px;
    height: auto;
  }

  .textoServicios {
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.2;
}

  /* NOSOTROS */
  
  .cuadroNosotros {
    display:block ;
    height: fit-content;
  }
  
  .nosotros{
    margin-top: 80px;
    margin-bottom:70px;
  }
  
  .tituloNosotros{
    position: unset;
  }

  .textoNosotros p {
    font-size: 0.7em;
  }



  /* CLIENTES*/

  #clientes{
    height: 30vh;
  }

  /* CONTACTO   */

  .contenido {
    margin: 25px;}

    .footer {
      margin-right: 10px;
      margin-left: 10px;
  }

  #contacto {
    height: 50vh;
    margin-bottom: 20%;
  }

  .material input, .material textarea {
    font-size: 3vw;
   
  }

  input:focus::placeholder {
    font-size: 2vw;  
  }


  textarea:focus::placeholder {
    font-size: 2vw; 
  } 

  .material button{
    font-size: 3vw;
  }

  .material {
    padding: 3% 8%;
  }


  /*FOOTER*/

  .footer p{
    font-size: 2.3vw;
  }
  
}

@media all and (max-width: 391px){
  
  #contacto {
    height: 50vh;
    margin-bottom: 10%;
  }


  
}

/* @media screen and (min-aspect-ratio: 0/50) and (max-aspect-ratio: 51/50) {
  #contacto {
    margin-bottom: 20%;
  }

} */
